*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    transition: .3s;
}

html{
  scroll-behavior: smooth;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(104, 127, 157, 0.49), rgba(255,255,255,0));
}

.logo{
    font-size: 32px;
    color: #fff;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 20px;
    color: #9dc5e7;
    font-weight: 500;
    margin: 20px;
    transition: .3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar a:hover{
    color: white;
    transition: .3s;
    text-decoration: none;
  
}

.navbar a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #2a497e;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
    background: #fff;
    transition: .3s;
}

.navDiv{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  max-lines: 2;
  margin-right: 70px;
}
.navItem{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

/*==========DROPDOWN==========*/

.dropdown{
  width: 150px;
  height: 50px;
  display:inline-block;
  margin-right: 70px;
}

.content {
  max-height: 0;
  position: absolute;
  right: 0;
  background-image: linear-gradient(to left bottom, #23478200, #20519f1c, #2358bc45, #3060da76, #4565f61b);
  /*box-shadow: 0px 4px 8px rgba(44, 62, 80, 0.9);*/
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  margin-right: 100px;
  transition: .43s ease;
}

.dropdown:hover .content {
  max-height: 500px;
  transition: .43s ease;
}

.content a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.content a:hover {
  border-radius: 5px;
  background: #55555516;
  transition: .3s ease;
}

/*==========Tombol dropdown==========*/
.dropbtn {
    width: 100%;
    height: 100%;
  background: none;
  border: none;
  color: #9dc5e7;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 12px;
  margin-left: 30px;
}

/*==========Responsive==========*/
@media (max-width: 700px) {
  .navDiv {
      display: none;
  }

  .dropdown {
      display: block;
  }
}

@media (min-width: 700px) {
  .dropbtn{
    display: none;
  }

  .dropdown{
    display: none;
  }
}

body{
    min-height: 100vh;
    background-image: url(rememo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: futura bk bt;
    font-weight: 900;
    padding-top: 30px;
}

body::-webkit-scrollbar{
    display: none;
}

/*PROFIL*/

.box{
    justify-self: center;
    justify-items: center;
    width: 100%;
    margin: 50px;
    
}

.detail{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    align-content: center;
    text-align: center;
    transition: .3s;
    font-size: larger;
    cursor: pointer;
    display: none;
}

.detail .hoverElement{
    display: none;
}

.detail:hover{
    filter: brightness(.8);
    filter: opacity(.8);
    color: rgb(59, 29, 255);
}

.detail:hover .hoverElement{
    display: block;
}

/*CARD SESSION WEH*/

.card{
  width: 75%;
  border: 0px solid #ddd;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
  text-align: center;
  max-width: 600px;
}



.card .detailHeader{
  padding: 14px 16px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  z-index: 3;
}

.detailHeader p{
  text-align: center;
}

.card .detailHeader p{
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  color: #222;
}

.arrow{
  font-size: 14px;
  color: #666;
}

.detailContent{
  padding: 0 16px;
  max-height: 0;
  overflow: hidden;
  background: #fff;
}

.card.open .detailContent{
  padding: 12px 16px 16px;
  max-height: 1200px;
}

.detailContent p{
  margin: 0;
  color: #000000;
  line-height: 1.5;
  font-size: 16px;
}



/*#border{
  width: 3px;
  height: 100%;
  background-color: #2f00ff;
  justify-self: center;
}*/

.detailBox{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #ffffff;
  gap: 10px;
}

.linkBox{
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.topBorder{
  width: 80%;
  height: 50px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  align-content: center;
  background: linear-gradient(90deg, white, #aaa);
  border-radius: 15px;
  max-width: 750px;
}

.gridBox{
  width: 100%;
  margin: 15px 0;
  max-width: 400px;
  min-height: 140px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  aspect-ratio: 1;
}

.gridDetail{
margin: 10px 10px;
aspect-ratio: 1;
width: 100% -10px;
height: 100% -10px;
max-width: 170px;
background-color: whitesmoke;
border-radius: 10px;
}

.icons{
  width: 70px;
  border-radius: 50px;
}

.icons2{
  width: 75px;
  margin-top: 20px;
  border-radius: 50px;
}